.flex {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.header {
	display: flex;
	align-items: center;
	gap: 1rem;
	margin-top: 1em;
	flex-wrap: wrap;
}

.header img {
	max-height: 200px;
}

.header h3 {
	max-width: 400px;
}

.flex {
	list-style: 0;
	margin: 0.5em 0;
}

.flex li {
	display: flex;
	align-items: center;
	gap: 0.3em;
	margin-top: 0.3em;
}

.profile {
	height: 200px;
	border-radius: 15px;
	z-index: 1;
}

@media screen and (max-width: 768px) {
	.header {
		flex-direction: column;
		align-items: center;
		text-align: center;
	}

	.flex li {
		justify-content: center;
	}

	.header h3 {
		max-width: 100%;
	}
}
