.flex {
	display: flex;
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 1rem;
}

.flex iframe {
	width: 560px;
}

.flex p {
	width: 260px;
	text-align: justify;
}

@media screen and (max-width: 940px) {
	.flex p {
		width: auto;
	}
}

@media screen and (max-width: 768px) {
	.flex {
		flex-direction: column;
		gap: 1rem;
		align-items: center;
	}

	.flex iframe {
		width: 100%;
		max-width: 100%;
		height: auto;
		min-height: 200px;
	}

	.flex img {
		width: 100%;
		max-width: 300px;
		height: auto;
	}

	.flex p {
		width: 100%;
		text-align: justify;
		padding: 0 1rem;
	}
}
