.flex {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

img {
	width: 150px;
}

.exp {
	display: flex;
	gap: 1em;
	margin-top: 1em;
	align-items: flex-start;
}

.flex {
	list-style: 0;
	margin: 0.5em 0;
}

.flex li {
	display: flex;
	gap: 0.3em;
	margin-top: 0.3em;
}

@media screen and (max-width: 768px) {
	img {
		width: 100px;
		height: auto;
	}

	.exp {
		flex-direction: column;
		gap: 0.5em;
		align-items: flex-start;
	}

	.exp img {
		align-self: left;
		margin-bottom: 0.5em;
	}

	.flex {
		width: 100%;
	}
}
