.flex {
	display: flex;
	gap: 20px;
	align-items: center;
	flex-wrap: wrap;
}

.line {
	height: 35px;
	width: 2px;
	background-color: white;
}

.svg-icon {
	width: 30px;
	height: 30px;
}

.icons {
	font-size: 35px;
	list-style: none;
	cursor: pointer;
}

.icons span {
	font-size: 16px;
	font-weight: 500;
}

img {
	max-width: 100%;
	height: auto;
}

@media screen and (max-width: 768px) {
	img {
		max-width: 100%;
		width: 100%;
		height: auto;
	}

	.flex {
		gap: 10px;
		align-items: flex-start;
	}

	.line {
		display: none;
	}

	.icons {
		font-size: 28px;
	}

	.icons span {
		font-size: 14px;
	}
}
